.container{
    position: relative;
    display: flex;
    padding: 10px;
    &__cart{
        border: 1px solid;
        border-radius: 20px;
        width: 300px;
        min-height: 500px;
        padding: 10px;
    }
}

.button-section{
    position: absolute;
    bottom: 20px;
}
.cart-deny{
    width: 100px;
    height: 50px;
}
.cart-apply{
    width: 100px;
    height: 50px;
    margin: 7px 60px;
}