.cart-create{
    width: 500px;
    height: 100px;
    background-color: #E37E7E;
    border: 1px solid;
    font-family: 'ArcadeClassic', sans-serif;
    &:hover{
        background-color: #e87474;
        cursor: pointer;
    }
}